.DS_Store
.gitkeep

app/node_modules/
app/dist/
app/.vite/
app/.cache/
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*

particle-fx/node_modules/
particle-fx/dist/
particle-fx/.vite/
particle-fx/.cache/
particle-fx/*.log
particle-fx/npm-debug.log*
particle-fx/yarn-debug.log*
particle-fx/yarn-error.log*
particle-fx/pnpm-debug.log*

.env
.env.*
